@import url('./variables.css');

@media (prefers-color-scheme: dark) {
  :root {
    --neu-bg: #31363F;
    --neu-accent: #e88478;
    --neu-accent-light: #f0a39a;
    --neu-text-primary: #adb5bd;
    --neu-text-emphasis: #f8f9fa;
    --neu-light-shadow: #424851;
    --neu-dark-shadow: #25282c;

  }
}