@import url('./variables.css');

/* Layout and container styles */
.episodes-container {
  scroll-snap-type: y proximity;
  display: grid;
  gap: 2rem;
}

.episode-wrapper {
  padding: 1.5rem;
  scroll-snap-align: start;
  border-radius: 20px;
  background: var(--neu-bg);
  transition: var(--neu-transition);
  box-shadow: 8px 8px 16px var(--neu-dark-shadow),
              -8px -8px 16px var(--neu-light-shadow);
  position: relative;
  z-index: 1;
  margin-bottom: 1.5rem;
}

.current-episode {
  transform: scale(1.01);
  box-shadow: 12px 12px 24px var(--neu-dark-shadow),
              -12px -12px 24px var(--neu-light-shadow);
  overflow: hidden;
}

.current-episode::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(circle at top left, var(--neu-accent-light) 0%, transparent 40%),
              radial-gradient(circle at bottom right, var(--neu-accent) 0%, transparent 40%);
  
  opacity: 0.3;
  z-index: -1; 
  transition: opacity 0.3s ease-in-out;
}

.current-episode > * {
  position: relative;
  z-index: 2;
}

.current-episode.sticky-top {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.current-episode.sticky-bottom {
  position: sticky;
  bottom: 0;
  z-index: 1000;
}