:root {
  --primary-color: #B098A4;
  --secondary-color: #df7164;
  --text-color: #747572;
  --emphasis-text-color: #45503B;
  --background-color: #E5EBEA;
  --border-color: #DBD9DB;
  --highlight-color: rgba(250, 249, 246, 0.75);
  --shadow-color: rgba(0, 0, 0, 0.07);
}
